---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
const events = (await getCollection("event")).sort(
    (a, b) => a.data.startDate.valueOf() - b.data.startDate.valueOf(),
);
import EventItem from "../../components/EventItem.astro";
---

<MainLayout title="Eventos Manga - Próximos eventos">
    <section class="eventos">
        <h1 class="eventos__title">Próximos eventos</h1>
        <div class="eventos__content">
            <ul class="eventos__list">
                {
                    events.map((event) => (
                        <li class="eventos__list__item">
                            <EventItem event={event} />
                        </li>
                    ))
                }
            </ul>
        </div>
    </section>
</MainLayout>

<style>
    .eventos {
        padding: 2rem;
        color: var(--foreground);
    }

    .eventos__title {
        color: var(--foreground);
        font-size: 2.25rem;
    }

    .eventos__content {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .eventos__list {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1.5rem;
    }

    .eventos__list__item {
        width: 25%;
    }
</style>
