---
import Calendar from "../../components/Calendar.jsx";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Eventos Manga - Calendario">
    <section class="calendario">
        <h1 class="calendario__title">Calendario</h1>
        <div class="calendario__content">
            <Calendar client:idle />
        </div>
    </section>
</MainLayout>

<style>
    .calendario {
        padding: 3rem;
        color: var(--foreground);

        @media (width <= 640px) {
            padding: 1.25rem;
        }
    }

    .calendario__title {
        color: var(--foreground);
        font-size: 2.25rem;
    }

    .calendario__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
</style>
