---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Eventos Manga - Calendario">
    <section class="calendario">
        <h1 class="calendario__title">Calendario</h1>
        <div class="calendario__content">
            <div id="calendario"></div>
        </div>
    </section>
</MainLayout>

<style>
    .calendario {
        padding: 2rem;
        color: var(--foreground);
    }

    .calendario__title {
        color: var(--foreground);
        font-size: 2.25rem;
    }

    .calendario__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
</style>

<script type="module">
import { Calendar } from "@fullcalendar/core";
    import dayGridPlugin from "@fullcalendar/daygrid";

    document.addEventListener("DOMContentLoaded", function () {
        const calendarEl = document.getElementById("calendario");
        const calendar = new Calendar(calendarEl, {
            plugins: [dayGridPlugin],
            headerToolbar: {
                left: "prev,next today",
                center: "title",
                right: "dayGridMonth,timeGridWeek,timeGridDay,listWeek",
            },
        });
        calendar.render();
    });
</script>
