---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { ViewTransitions } from "astro:transitions";
import EventItem from "../components/EventItem.astro";
import { getCollection } from "astro:content";
const events = (await getCollection("event"))
    .sort((a, b) => a.data.startDate.valueOf() - b.data.startDate.valueOf())
    .splice(0, 9);
---

<!doctype html>
<html lang="es">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main class="home__container">
            <section class="home__hero">
                <img
                    src="/eventosmanga/public/LogoHorizontal.svg"
                    alt="Eventos Manga"
                    width="100%"
                />
                <h1 class="home__hero__title">¡Bienvenid@ a Eventos Manga!</h1>
                <p class="home__hero__description">
                    En <b>Eventos Manga</b> encontrarás el calendario más completo
                    de salones, ferias, concursos y todas las actividades relacionadas
                    con el mundo del <b>manga y anime</b> en España.
                </p>
                <h3 class="home__hero__cta">
                    ¡Mantente informado y únete a la comunidad otaku!
                </h3>
            </section>
            <section class="home__events">
                <h2 class="home__events__title">Próximos eventos</h2>
                <div class="home__events__list__container">
                    <ul class="home__events__list">
                        {
                            events.map((event) => (
                                <li class="home__events__list__item">
                                    <EventItem event={event} />
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </section>
        </main>
        <Footer />
        <ViewTransitions />
    </body><style>
        p {
            padding: 1rem 0;
        }

        .home__container {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            background: url("/eventosmanga/public/Fondo.webp") no-repeat center center;
            background-size: cover;
            padding: 3rem;
            min-width: 100%;
            background-color: var(--red);
            background-blend-mode: overlay;
        }

        .home__hero__title,
        .home__hero__cta {
            text-align: center;
            
            @media (width <= 512px) {
                font-size: clamp(1rem, 5vw, 3rem);
            }
        }

        .home__hero__description {
            text-align: center;

            @media (width <= 512px) {
                font-size: clamp(0.7rem, 5vw, 1rem);
            }
        }

        .home__events__title {
            @media (width <= 512px) {
                font-size: clamp(1rem, 5vw, 3rem);
                text-align: center;
            }
        }

        .home__events__list__container {
            overflow-x: scroll;

            @media (width <= 512px) {
                overflow: auto;
                display: flex;
                flex-direction: column;
            }
        }

        .home__events__list {
            display: flex;
            list-style: none;
            padding: 0;
            width: max-content;

            @media (width <= 512px) {
                flex-direction: column;
                width: 100%;
            }
        }

        .home__events__list__item {
            width: 25%;

            @media (width <= 512px) {
                width: 100%;
            }
        }
    </style>
</html>
