---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import EventItem from "../components/EventItem.astro";

const events = (await getCollection("event"))
    .filter((event) => new Date(event.data.endDate) >= new Date())
    .sort((a, b) => a.data.startDate.valueOf() - b.data.startDate.valueOf())
    .splice(0, 9);
---

<!doctype html>
<html lang="es">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main class="home__container">
            <section class="home__hero">
                <img
                    src="/LogoHorizontal.svg"
                    alt="Eventos Manga"
                    width="100%"
                />
                <h1 class="home__hero__title">¡Bienvenid@ a Eventos Manga!</h1>
                <p class="home__hero__description">
                    En <b>Eventos Manga</b> encontrarás el calendario más completo
                    de salones, ferias, concursos y todas las actividades relacionadas
                    con el mundo del <b>manga y anime</b> en España.
                </p>
                <h2 class="home__hero__cta">
                    ¡Mantente informado y únete a la comunidad otaku!
                </h2>
            </section>
            <section class="home__events">
                <h3 class="home__events__title">Próximos eventos</h3>
                <p>
                    Desliza el dedo en horizontal para navegar por los eventos (<b
                        >versión de escritorio/tablets</b
                    >). Si quieres ver el listado completo de eventos, haz clíc
                    en el apartado de <b>Eventos</b> en la parte superior.
                </p>
                <ul
                    class="home__events__list home__events__list__carousel__buttons"
                >
                    {
                        events.map((event) => (
                            <li class="home__events__list__item">
                                <EventItem event={event} />
                            </li>
                        ))
                    }
                </ul>
            </section>
            <section class="home__call__to__action">
                ¿Eres un <b>organizador de eventos</b> y quieres que tus eventos aparezcan aquí? Pulsa en el botón <b>Añadir nuevo evento</b> en la parte superior de la página.
            </section>
        </main>
        <Footer />
        <style>
            p {
                padding: 1rem 0;
            }

            .home__container {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                background: url("/Fondo.webp") no-repeat center center;
                background-size: cover;
                padding: 3rem;
                min-width: 100%;
                background-color: var(--red);
                background-blend-mode: overlay;

                @media (width <= 512px) {
                    padding: 2rem;
                }
            }

            .home__hero__title,
            .home__hero__cta {
                text-align: center;

                @media (width <= 512px) {
                    font-size: clamp(1rem, 5vw, 3rem);
                }
            }

            .home__hero__description {
                text-align: center;

                @media (width <= 512px) {
                    font-size: clamp(0.7rem, 5vw, 1rem);
                }
            }

            .home__events__title {
                @media (width <= 512px) {
                    font-size: clamp(1rem, 5vw, 3rem);
                    text-align: center;
                }
            }

            .home__events__list {
                overflow-x: scroll;
                position: relative;
                anchor-name: --carousel;
                scroll-behavior: smooth;
                display: flex;
                list-style: none;
                padding: 0;
                width: 100%;
                overscroll-behavior-x: contain;
                scroll-snap-type: x mandatory;

                @media (width <= 640px) {
                    overflow: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }

            .home__events__list__item {
                width: 380px;

                @media (width <= 640px) {
                    width: 100%;
                }
            }

            .home__events__list__carousel__buttons {
                &::scroll-button(*) {
                    position: fixed;
                    position-anchor: --carousel;
                    border-radius: 100%;
                    font-size: 2rem;
                    aspect-ratio: 1;
                    background-color: #eee2;
                    cursor: pointer;
                    z-index: 2;
                    display: grid;
                    place-items: center;
                    padding: 0 1rem;
                    margin: -1.5rem;
                    color: #eeec;
                    border: 1px solid #eeea;
                    transition: all 0.2s ease-in-out;
                    
                    @media (width <= 512px) {
                        display: none;
                    }
                }

                &::scroll-button(*):is(:disabled) {
                    border: 1px solid #eee2;
                    color: #eee6;
                }

                &::scroll-button(left) {
                    position-area: inline-start center;
                    content: "◀" / "Moverse a la izquierda";
                }

                &::scroll-button(right) {
                    position-area: inline-end center;
                    content: "▶" / "Moverse a la derecha";
                }
            }

            .home__call__to__action {
                text-align: center;
                padding: 1rem 0;
            }
        </style>
    </body>
</html>
