---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";
---

<header>
    <nav class="header__nav">
        <a href="/"
            ><Image
                class="header__nav__logo"
                src="/LogoWithText.svg"
                aria-label={SITE_TITLE}
                height="400"
                width="160"
                alt="Logo"
            /></a
        >
        <div class="header__nav__links">
            <HeaderLink class="header__nav__link" href="/eventos"
                >Eventos</HeaderLink
            >
            <HeaderLink class="header__nav__link" href="/calendario"
                >Calendario</HeaderLink
            >
        </div>
    </nav>
</header>
<style>
    header {
        padding: 1.5rem 3rem;
        background: var(--red);
        box-shadow: 0 2px 8px rgba(var(--black), 5%);
    }

    .header__nav__logo {
        height: 3.5rem;
        border-radius: 0%;

        @media (width <= 512px) {
            width: 6rem;
            height: auto;
        }
    }

    .header__nav__links {
        display: flex;
        gap: 1.5rem;
        font-size: 1rem;

        @media (width <= 512px) {
            gap: 1rem;
            font-size: 0.8rem;
        }
    }

    h2 {
        margin: 0;
        font-size: 2rem;
    }

    h2 a,
    h2 a.active {
        text-decoration: none;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav a {
        color: var(--foreground);
        text-decoration: none;
    }
    nav a.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }
</style>
