---

---

<main class="hero__container">
    <section class="hero__subbg">
        <section class="hero__inner">
            <section class="hero__flair">
                🎌 ¡Arranca la temporada de eventos de 2026!
            </section>
            <section class="hero__title">
                La aventura <span class="hero__title__span">otaku</span><br />
                te espera
            </section>
            <section class="hero__description">
                <p>
                    En <b>Eventos Manga</b> encontrarás el calendario más completo
                    de
                    <b>salones</b>, <b>ferias</b>, <b>concursos</b> y demás actividades
                    relacionadas con el
                    <b>manga y anime</b> en <b>España</b>.
                </p>
                <p class="hero__cta">
                    ¡Manténte informado y únete a la comunidad otaku!
                </p>
            </section>
            <section class="hero__buttons">
                <a
                    class="hero__button"
                    href="/eventos"
                    aria-label="Ir a la lista de eventos"
                    >Descubrir nuevos eventos -></a
                >
            </section>
        </section>
    </section>
</main>
<style>
    .hero__container {
        background-image: url("/Hero.webp");
        background-size: cover;
        max-width: 100%;
        padding: 0;
    }

    .hero__subbg {
        background: linear-gradient(45deg, #119f 0%, #ff06 100%);
        background-blend-mode: darken;
        width: 100%;
        margin: 0;
    }

    .hero__inner {
        padding: 3rem;
    }

    .hero__flair {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.8rem;
        border-radius: 2rem;
        border: 1px #fff6 solid;
        max-width: fit-content;
        padding: 0.75rem 1rem;
        backdrop-filter: blur(0.5rem);
        background-color: #fff2;
    }

    .hero__title {
        text-transform: uppercase;
        padding: 1.5rem 0;
        font-size: 5.5rem;
        font-weight: 900;
        line-height: 6rem;
        width: 50%;
    }

    .hero__title__span {
        color: #f0f;
    }

    .hero__description {
        width: 50%;
        line-height: 1.75rem;
    }

    .hero__cta {
        font-size: 2rem;
        font-weight: 900;
        padding: 1rem 0;
    }

    .hero__button {
        background-color: #a33;
        text-decoration: none;
        color: #eee;
        padding: 1rem 2rem;
        border-radius: 3rem;
        font-weight: 700;
    }
</style>
